body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", serif;
    font-size: 20px;
    line-height: 1.5;
}

.container{
    margin: 0 auto;
    width:940px;
}
 main h1 {
    font-size: 60px;
    background-color: rgb(120,30,60);
    color: #FAFFFA;
    text-align: center ;
    font-family: "open sans  Cadensed",sans-serif;
    padding: 20px;
    margin:0;
    text-transform: uppercase;
    border-bottom: 10px solid black;
}
 main a{
     color:#851944;
 }

.J:first-letter{
    font-size: 50px;
    font-family:"open sans  Cadensed", sans-serif

}
h2{
    font-size: 40px;
    font-family: "open sans Cadensed",sans-serif;
    clear:both;
}
p{
    text-align: justify;
    margin: 30px 0;
}
blockquote{
    background-color: #D3DDDA;
    padding: 16px;
    border:10px solid #C2CCCA;
    width: 250px;
    margin:12px;
    box-sizing:border-box ;
}

strong{
    font-weight: 600;
}
em{
    font-style: italic ;
}
aside{
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    padding: 20px;
    font-family: "open sans Cadensed",sans-serif;
}
nav h1{
    font-size:30px;
    margin-bottom:25px;
}

nav a{
    color: inherit;
    text-transform: lowercase;
}

.icones-sociais li {
    display: inline-block;
    width: 50px;
    position: relative;
    margin: auto;
}

footer{
    background-color: #000;
    color: #F2FFFC;
    padding:20px;
}
.icones-sociais a{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;
}
.github{
    background-image: url("../imagns/github.png");
}
.twitter{
    background-image: url("../imagns/twitter.png");
}
.linkedin{
    background-image: url("../imagns/linkedin.png");
}
.petrobras{
    float: left;
    margin-left: 0;
}
.fiat{
    float: right;
    margin-right: 0;
}
aside, img {
    float: right;
    border-left: 10px solid black;
    width: 14%;
    border-bottom: 10px solid black;
}
aside{
    clear: right;
    box-sizing: border-box;
}
main{
    float: left;
    width: 85.475%;
}
footer{
    clear: both;
}
cite{
    font-style: italic;
    float: right;
}
.img{
    position: relative;
    top:50px;
    right: 50px;
}
.citacao-bio{
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    transition: transform 1s;
}
.citacao-bio:before{
    content: '"';
    position: absolute;
    font-size: 10em;
    line-height: .8;
    color: #bbb;
    z-index: 1;
}
.citacao-bio > p{
    position: relative;
    z-index: 2;
}
.citacao-bio:hover,
.citacao-bio:focus{
    box-shadow:  0 0 0 99999px rgba(0,0,0,.8);
}
.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus{
    transform: scale(1.2) rotate(5deg);
}
.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus{
    transform: scale(1.2) rotate(-5deg);
}
table{
    border-collapse: separate;
    border-spacing: 5px;
}
th {
    background-color: #851944;
    border:5px solid black;
}
td {
    background-color: #851944;
    border: 5px solid black;
}
